# Do not run `preinstall`, `postinstall`, etc scripts to prevent foreign code execution
# Only applies to this workspace - everything in `packages`.
# CI enforces that we use `npm ci --ignore-scripts` for the `examples`.
ignore-scripts=true
