on:
  push:
    branches: ["releases/*"]

name: Publish

jobs:
  publish:
    # run this only in cubist-labs
    if: ${{ github.repository == 'cubist-labs/CubeSigner-TypeScript-SDK' }}
    runs-on: ubuntu-latest

    # needs id-token for npm provenance
    permissions:
      contents: read
      id-token: write

    # should be configured to require manual approval
    environment: npmjs

    name: Publish to npmjs
    steps:
      - name: Setup node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: "20"
          # creates .npmrc with the following contents
          # //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
          # registry=https://registry.npmjs.org/
          # always-auth=true
          registry-url: "https://registry.npmjs.org"

      # Ensure npm 11.5.1 or later for trusted publishing
      - name: Update npm
        run: npm install -g npm@11.7.0

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      # install and lint (no need to build because 'npm publish' does it)
      - name: Install + Lint
        run: npm ci && npm run lint

      # publish npm package to npmjs with provenance
      - name: Publish to npmjs
        run: npm publish --workspaces --provenance --access public
